@{
    ViewBag.Title = "Home Page";
}

<style>
    .upload div {
        padding: 5px;
    }
</style>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="input-group upload">
        <div><label for="file" >Upload IIS Log:</label></div>
        <div><input type="file" name="file" id="file"/></div>
        <div><input type="submit" value="Upload"/></div>
    </div>
}