@using LogAnalyzer.Models
@model AnalysisResult

@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script language="javascript">
    $(document)
        .ready(function () {
            $(".entry").each(function() {
                var ip = $(this).children().first().text();
                var nameElement = $(this).children().next(".name");
                $.getJSON("/home/resolve?ip=" + ip)
                           .done(function(data) {
                                nameElement.addClass(data.type);
                                nameElement.text(data.name);
                           });
            });
        });
</script>

<style >
.entry td {
    padding: 5px;
}

.title td {
    background: lightgray;
    font-weight: bold;
}

.name {
    color: blue;
}

.error {
    color: red;
}

.content {
    color: black;
}
</style>

<h2>Result</h2>

<div>
    @Model.Message
</div>

@if(Model.ClientResults.Any())
{
    <table>
        <tr class="title">
            <td>IP-Address</td>
            <td>FQDN</td>
            <td>Requests</td>
        </tr>
        @foreach (var clientResult in Model.ClientResults)
        {
            <tr class="entry">
                <td class="ip">@clientResult.Ip</td>
                <td class="name">... loading ...</td>
                <td>@clientResult.Count</td>
            </tr>
        }
    </table>
}